.Main-login-container{
    width: 100vw;
    height: 100vh;
    background-color: #f1efe9;
    color: #2f4858;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.Text-departament{
    font-size: 2vh;
}
.Form-login-container{
    width: 28vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFDF7;
    border: solid #fa8d74;
    border-radius: 2vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.Form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Title-container{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.Title-text{
    font-size: 6vh;
    user-select: none;
}
.Cc-container{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh;
    box-sizing: border-box;
}
.Input-cc,
.Input-Password{
    width: 20vw;
    height: 5vh;
    border: none;
    background-color: #dddbd5;
    border-radius: 2vh;
    padding: 1vh;
    box-sizing: border-box;
    cursor: pointer;
}
.Button-sigin{
    width: 10vw;
    height: 5vh;
    border: none;
    color: #dddbd5;
    background-color: #fa8d74;
    border-radius: 2vh;
    padding: 1vh;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 700;
}
.Password-container{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh;
    box-sizing: border-box;
    position: relative;
}
.Input-Password{
    padding-right: 7vh;
}
.Input-cc[type=number]::-webkit-outer-spin-button,
.Input-cc[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.Visibility-icon{
    position: absolute;
    top: 50%;            
    transform: translateY(-50%);
    right: 4vh;
    cursor: pointer;
}
.Button-container{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh;
    box-sizing: border-box;
}
.Create-content{
    font-size: 2vh;
    display: flex;
    flex-direction: column;
}
.Sing-up{
    cursor: pointer;
}